.App {
  text-align: center;
}

.Content-info {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.switch_sus {
  margin-top: 5px;
  margin-bottom: 20px;
}

.lista-opciones {
  list-style-type: square;
  font-size: smaller;
  text-align: justify;
}

.text-sus {
  font-weight: bold;
  font-size: x-small;
  text-align: center;
}

.sus_29 {
  opacity: 0.3;
}

.costo-total{
  text-align: center;
}

.costo-s {
  font-size: calc(20px + 2vmin);
}

.costo-sus {
  font-size: calc(50px + 2vmin);
}

.App-header {
  background-color: #282c34;
  min-height: 6vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.titulo_plan_conf {
  font-size: x-large;
  font-weight: bold;
}

.costo_plan_conf {
  font-size: 16px;
  font-weight: bold;
}

.info-result {
  padding-top: 10px;
  max-width: 250px;
  text-align: justify;
  color: rgba(0,0,0,.45);
}